<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <saveRichTextContent>
        <processor type="Sitecore.Support.Shell.Controls.RichTextEditor.Pipelines.SaveRichTextContent.ProtectExternalLink, Sitecore.Support.183520" patch:instead="*[@type='Sitecore.Shell.Controls.RichTextEditor.Pipelines.SaveRichTextContent.ProtectExternalLink, Sitecore.Client']"/>
      </saveRichTextContent>
    </pipelines>
  </sitecore>
</configuration>